{% extends 'base.html' %}
{% block content %}

<div class="row">

    {% include 'admin_sidebar.html' %}

    <div class="col-md-10">
        <h3>Dashboard</h3>
       
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="border rounded p-3 text-center">
                    <h6>Total Treks</h6>
                    <h3>{{ total_treks }}</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border rounded p-3 text-center">
                    <h6>Total Users</h6>
                    <h3>{{ total_users }}</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border rounded p-3 text-center">
                    <h6>Total Staff</h6>
                    <h3>{{ total_staff }}</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border rounded p-3 text-center">
                    <h6>Total Bookings</h6>
                    <h3>{{ total_bookings }}</h3>
                </div>
            </div>
        </div>

        <h5 class="mt-4">Recent Bookings</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Booking ID</th>
                    <th>User</th>
                    <th>Trek</th>
                    <th>Booking Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for b in recent_bookings %}
                <tr>
                    <td>{{ b.id }}</td>
                    <td>{{ b.user.name }}</td>
                    <td>{{ b.trek.name }}</td>
                    <td>{{ b.booking_date.strftime('%d %b %Y') }}</td>
                    <td>{{ b.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}